.button-container {
    display: flex;
}

.sidebar-btn,
.new-chat-btn {
    background-color: transparent;
    border: none;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-btn:hover,
.new-chat-btn:hover {
    background-color: #0f8bd245;
}

.sidebar-btn img,
.new-chat-btn img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
