html,
body {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.chat-container {
    min-height: 100vh;
    background-color: #e7f5ff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Centered content */
.chat-content {
    text-align: center;
}

/* Title styling */
.chat-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #062c56;
    cursor: default;
}

.logo {
    height: 25%;
    width: 25%;
    display: inline-block;
}
