html,
body {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 80px;
    margin-left: 20px;
    position: absolute;
    z-index: 1;
}

.chat-container {
    min-height: 100vh;
    background-color: #edf2ff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Centered content */
.chat-content {
    text-align: center;
}

/* Title styling */
.chat-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #062c56;
    cursor: default;
}

.logo {
    height: 25%;
    width: 25%;
    display: inline-block;
}

.sidebar-btn,
.new-chat-btn {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-btn:hover,
.new-chat-btn:hover {
    background-color: #0f8bd245;
}

/* Image inside the button */
.sidebar-btn img,
.new-chat-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
